<h1><p>{{title}}</p></h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-github" aria-hidden="true" fa-5x></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/search' routerLinkActive='active'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/repo' routerLinkActive='active'>Repo</a>
      </li>
    </ul>

  </div>

<!-- <form class="navbar-search pull-left"> -->
  <form action="">
    <div class="form-group">
      <input id="form" type="text" class="form-control" placeholder="Enter github username" [(ngModel)]="userName" name="userName" (keyup)="findProfile()">

    </div>
  </form>

</nav>

<router-outlet> </router-outlet>

<!-- <app-search></app-search> -->
